RewriteEngine on

RewriteRule home$ home.html [NC]
RewriteRule ppw01$ https://www.meraevents.com/event/python-programming-workshop [NC]
RewriteRule register$ https://goo.gl/forms/YUb9NRVIPsrdxmTz1 [NC]
RewriteRule 3daysWorkshop$ http://%{HTTP_HOST}%1/workshops/3days_workshop.html [NC]
RewriteRule IntrotoProgramming$ http://%{HTTP_HOST}%1/workshops/intro_to_programming.html [NC]
RewriteRule PythonProgramming$ http://%{HTTP_HOST}%1/workshops/python_programming.html [NC]
RewriteRule AdvancedPython$ http://%{HTTP_HOST}%1/workshops/advanced_python.html [NC]
RewriteRule Participants$ http://%{HTTP_HOST}%1/workshop_participants.html [NC]
RewriteRule calendar$ http://%{HTTP_HOST}%1/#workshops [NC]
RewriteRule pricing$ http://%{HTTP_HOST}%1/pricing.html [NC]
RewriteRule privacy$ http://%{HTTP_HOST}%1/privacy.html [NC]
